{% extends 'layout.html' %}

{% block css %}
<link rel="stylesheet" type="text/css" href="stylesheets/login.css">
{% endblock %}

{% block body %}
<div id='login'>

 <form method="post" class="form-inline" action="/login">
 <h2>Login</h1>
  <p>
    <input type="text" name="username" placeholder="Username">
  </p>
  <p>
    <input type="password" name="password" placeholder="Password">
  </p>
  <p>
    <input class="btn btn-primary" type="submit" value="Login">
    <label class="checkbox"><input type="checkbox" name="rememberMe" value="remember"> Remember Me</label>
  </p>
 </form>
</div>
{% endblock %}
