{% extends 'layout.html' %}

{% block css %}
<link rel="stylesheet" type="text/css" href="stylesheets/login.css">
{% endblock %}

{% block body %}
<div id='login'>
 <h2>Login</h1>
 <form method="post" action="/login">
  <p>
    <label>Username:</label>
    <input type="text" name="username">
  </p>
  <p>
    <label>Password:</label>
    <input type="password" name="password">
  </p>
  <p>
    <input type="submit" value="Login">
    <input type="checkbox" name="rememberMe" value="remember">Remember Me
  </p>
 </form>
</div>
{% endblock %}
