{% extends 'layout.html' %}

{% block css %}
<link rel="stylesheet" type="text/css" href="stylesheets/main.css">
<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
{% endblock %}

{% block js %}
<script src="js/audiojs/audio.min.js"></script>
<script src="js/player.js"></script>
<script>$(function(){init();});</script>
{% endblock %}

{% block body %}

<div class="container">
	<div class="row" id="resizable">
		<div class="span4"><p>Genre</p></div>
		<div class="span4"><p>Artist</p></div>
		<div class="span4"><p>Album</p></div>
		<div class="span4">
			<select id="genres" multiple="multiple">
			<option value="-1">All</option>
			{% for genre in render.genres %} <option value="{{genre.id}}"> {{ genre.name }} </option> {% endfor %}
			</select>
		</div>

		<div class="span4">
			<select id="artists" multiple="multiple">
			<option value="-1">All</option>
			{% for artist in render.artists %} <option value="{{artist.id}}"> {{ artist.name }} </option> {% endfor %}
		</select></div>

		<div class="span4">
			<select id="albums" multiple="multiple">
			<option value="-1">All</option>
			{% for album in render.albums %} <option value="{{album.id}}"> {{ album.name }} </option> {% endfor %}
                </select></div>
	</div>
	<table id="songs" class="table table-striped table-condensed">
		<tr>
			<th>Song</th>
			<th>Artist</th>
			<th>Add</th>
		</tr>
	{% for track in render.tracks %}
		<tr>
    			<td>{{ track.name }}</td>
			<td>{{ track.artist.name }}</td> 
			<td><button id={{ track.sha1 }} onClick="addTrackToPlayer(this,'{{ track.name }} - {{ track.artist.name }}')">Add</button> </td>
		</tr>
	{% else %}
    		<li>There are no tracks.</li>
	{% endfor %}
	</table>
</div>
<div id="footer">
	<ol id='tracklist'></ol>
        <audio id='mainPlayer' preload="auto"></audio>
      </div>
</div>
{% endblock %}
