{% extends 'layout.html' %}

{% block css %}
<link rel="stylesheet" type="text/css" href="stylesheets/main.css">
{% endblock %}

{% block js %}
<script src="js/audiojs/audio.min.js"></script>
<script src="js/player.js"></script>
{% endblock %}

{% block body %}
<div id="wrap">
 <div class="container">
	<ul>
	{% for track in render.tracks %}
    		<li{% if loop.index <= 0 %} class="first"{% endif %}>{{ track.name }} - {{ track.artist }} <button id={{ track.sha1 }} onClick="addTrackToPlayer(this,'{{ track.name }} - {{ track.artist }}')">Add</button> </li>
	{% else %}
    		<li>There are no tracks.</li>
	{% endfor %}
	</ul>
</div>
<div id="push"></div>
</div>		

<div id="footer">
	<ol id='tracklist'></ol>
        <audio id='mainPlayer' preload="auto"></audio>
      </div>
</div>
{% endblock %}
