#footer {
   position:fixed;
   left:0px;
   bottom:0px;
   width:100%;
}

.audiojs {
   width:100%
}

.audiojs .time { 
   float: right;
}

.audiojs .scrubber {
   width: 91.2%
}

select[multiple] {
    height: 300px;
    width: 320px;
}

.ui-resizable {
    width : 985px;
    height: 335px;
}

#hidden {
    display : none;
}
